<div class="navbar">
  <div class="wave3 w3"></div>
  <div class="wave2 w2"></div>
  <div class="wave w1"></div>

  <!-- <div class="upper-bar"></div> -->
  <div class="level-1">

    <div class="text-section">
      <div class="text">
        <h1 class="title-1">Soluciones Informáticas </h1>
        <h1 class="title-2"> <strong> A LA MEDIDA </strong> </h1>
      </div>

          <div class="text-2">
            <!-- <div class="title-3">Lleva tus <strong class="title-2"> IDEAS </strong>  a la realidad</div>
            <div class="cursor"></div> -->
            <div class="typing-container">
              <div class="typing-text title-3">Lleva tus <strong class="title-2"> IDEAS </strong>  a la realidad</div>
            </div>
          </div>
          <div class="btn_info">
            <button class="btn-call">HÁBLANOS DE TU IDEA</button>
            <button class="btn-i">AGENDA UNA LLAMADA</button>
          </div>

    </div>
    <div class="logo-section">
      <img class="logo-img" src="../../../assets/resources/img/logo4.png" alt="">
    </div>
  </div>
</div>

