<div class="services-section">
    <div class="info-services">
          <div class="info-container">
              <div class="header">
                  <img src="../../../assets/resources/img/logo_dev.png" alt="">
                  <div class="title"> <h1>Haz que tu <strong class="important-text-1">SOFTWARE</strong>  trabaje para ti. Elige soluciones <strong class="important-text-1">PERSONALIZADAS</strong>.</h1> </div>

              </div>

              <hr>

          </div>
    </div>
</div>
